$light: #fff;
$primary-color: #655E7A;
$secondary-color: #1bbb1b;
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Cormorant Garamond', serif;
$secondary-font:'Volkhov', serif;
$third-font: 'Open Sans', sans-serif;
$icon-font: 'themefisher-font';
